@import '/home/alex/.config/rice/color.scss';

* {
  /* all: unset; */
}

.info_hub {
  font-family: 'SauceCodeProNerdFont', monospace;
  font-size: 2rem;
}

.background {
  background-color: transparent;
}

.info-box {
  border-radius: 2rem;

  background-color: $base00;

  padding: 1rem;
  margin: 1rem;
}

.time-box {
  color: $base0D;
  font-family: 'MapleMono', 'SauceCodeProNerdFont', monospace;
  font-size: 6rem;
  font-weight: 900;
}
